{% extends "layouts/base.html.jinja" %}

{% block title %}Adverse Action Notice{% endblock %}

{% block header %}
  {% include "partials/standard-header.html.jinja" %}
{% endblock %}

{% block footer %}
  {% include "partials/standard-footer.html.jinja" %}
{% endblock %}
