{% extends "layouts/base.html.jinja" %}

{% set title = "Kitchen Sink Demo" %}
{% set version = "000000000.1" %}

{% block header %}
  {% include "partials/standard-header.html.jinja" %}
{% endblock %}

{%  block footer %}
  {% include "partials/standard-footer.html.jinja" %}
{% endblock %}

{% block content %}
  <h2>Testing everything</h2>
  <p>This doc is a place to test out all blocks and styles</p>


  <p>{{intro}}</p>

  <p class="text-muted">Use the <code>.text-muted</code> class for muted text.</p>

  <h3>Here's a list</h3>
  <ul>
    {%- for item in list_of_items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, facilis laborum. Voluptas dignissimos hic quibusdam minima dolorem in optio vel, molestiae reprehenderit officia voluptates dicta aspernatur fuga placeat magnam beatae.</p>
  
  {% include "partials/ecra-notice.html.jinja" %}
  
  <h2>Here's a table</h2>
  <table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>
  </tfoot>
</table> 
{% endblock %}