{% extends "layouts/base.html.jinja" %}

{% block title %}TEST DOC{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
      .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
  <h1>Test Doc</h1>
  <p class="important">
    Welcome to my awesome doc.
  </p>
  <section class="chapter">
    <h2>Chapter 1</h2>
    <p class="important">
      Welcome to my awesome doc.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
  </div>
  <section class="chapter">
    <h2>Second chapter</h2>
    <p class="important">
      Welcome to my awesome doc.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolor, enim necessitatibus repellendus odit at accusantium ipsam ab tempora perferendis vero? Aspernatur similique accusamus nobis possimus reiciendis exercitationem ipsa dolores?</p>
  </div>
{% endblock %}