<div class="customers-info flex gap-16">
  <table class="table-borderless">
    <tbody>
      <tr>
        <th class="font-xs p-none" valign="top">CUSTOMER FILE:</th>    
        <td class="font-xs text-muted  p-none" valign="top">#{{customer_file_number}}</td>  
      </tr>
      <tr>
        <th class="font-xs p-none" valign="top">APPLICANTS:</th>    
        <td class="font-xs text-muted p-none" valign="top">
          {{primary_borrower_full_name}}<br/>
          {{primary_borrower_address}}<br/>
          {{co_borrower_full_name}}<br/>
          {{co_borrower_address}}
        </td>  
      </tr>
    </tbody>
  </table>
  <table class="table-borderless">
    <tbody>
      <tr>
        <th class="font-xs p-none" valign="top">APPLICATION_DATE:</th>    
        <td class="font-xs text-muted p-none" valign="top">{{customer_file_number}}</td>  
      </tr>
      <tr>
        <th class="font-xs p-none" valign="top">PURPOSE OF<br/> APPLICATION:</th>    
        <td class="font-xs text-muted p-none" valign="top">Manufactured Home Loan</td>  
      </tr>
      <tr>
        <th class="font-xs p-none" valign="top">DESCRIPTION OF<br/> ACTION TAKEN:</th>    
        <td class="font-xs text-muted p-none" valign="top">Denied</td>  
      </tr>
    </tbody>
  </table>
</div>