<div class="container-narrow">
  <table>
    <tbody>
      <tr>
        <th class="font-normal">Address</th>
        <td>EQUIFAX PO BOX 740241</td>
      </tr>
      <tr>
        <th class="font-normal">Website</th>
        <td>www.equifax.com/fcra</td>
      </tr>
      <tr>
        <th class="font-normal">Reporting Agency Telephone number (Toll-Free):</th>
        <td>800-685-1111</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          {% include "partials/ecra-notice.html.jinja" %}
        </td>
      </tr>
    </tfoot>
  </table>
</div>