<footer id="footer" class="container">
  <p>{{lender_name}} Corporation NMLS #{{lender_nmls}} • {{lender_address}}<br />
  {{lender_phone}} • {{lender_website}} • {{lender_originator}} NMLS #{{lender_originator_nmls}}</p>
  <p>EQUIFAX • PO BOX 740241 • 800-685-1111<br/><a href="www.equifax.com/fcra" target="_blank" title="EQUIFAX FCRA">www.equifax.com/fcra</a> • Fico range 300-850</p>
  <small>Version 20230405.1</small>
  {% block footer %}
  &copy; Copyright 2023 by <a href="http://domain.invalid/">you</a>.
  {% endblock %}
</footer>