<footer class="standard-footer">
  <p class="font-sm">{{lender_name}} Corporation NMLS #{{lender_nmls}} &bull; {{lender_address}}<br />
  {{lender_phone}} &bull; {{lender_website}} &bull; {{lender_originator}} NMLS #{{lender_originator_nmls}}</p>
  <p class="font-sm">EQUIFAX &bull; PO BOX 740241 &bull; 800-685-1111<br/><a href="www.equifax.com/fcra" target="_blank" title="EQUIFAX FCRA">www.equifax.com/fcra</a> &bull; Fico range 300-850</p>
  <div class="flex justify-space-between">
    <small>{{version}}</small>
    <small>Page 1/2</small>
  </div>
</footer>