<header class="standard-header">
  <div>
    <h1>{{ title }}</h1>
    <p style="margin-bottom: 0;">Date issued: {{ notice_date }}</p>
  </div>
  {% include "partials/porchpass-logo.svg.jinja" %}
</header>