<header class="standard-header flex justify-content-space-between align-items-start">
  <div>
    <h1>{{ title }}</h1>
    {% if notice_date %}
      <p class="font-xs font-semibold text-muted">DATE ISSUED: {{ notice_date }}</p>
    {% endif %}
  </div>
  {% include "partials/porchpass-logo.svg.jinja" %}
</header>