<footer class="standard-footer">
  <p>{{lender_name}} Corporation NMLS #{{lender_nmls}} &bull; {{lender_address}}<br />
  {{lender_phone}} &bull; {{lender_website}} &bull; {{lender_originator}} NMLS #{{lender_originator_nmls}}</p>
  <p>EQUIFAX &bull; PO BOX 740241 &bull; 800-685-1111<br/><a href="www.equifax.com/fcra" target="_blank" title="EQUIFAX FCRA">www.equifax.com/fcra</a> &bull; Fico range 300-850</p>
  {# TODO: flex space between #}
  <small>{{version}}</small>
  <small>Page 1/2</small>
</footer>