<header class="standard-header flex justify-content-space-between align-items-start">
  <div>
    <h1>{{ title }}</h1>
    <p class="font-xs text-muted" style="margin-bottom: 0;">DATE ISSUED: {{ notice_date }}</p>
  </div>
  {% include "partials/porchpass-logo.svg.jinja" %}
</header>