:root {
  --color-on-surface-on-surface: #111827;
  --color-on-surface-on-surface-muted: #4A5466;
  --color-surface-container-subtle: #F9FAFB;
  --color-border-border-subtle: #EAECF0;
  --color-border-border-dim: #9AA2B2;
  --color-border-border: #D2D5DB;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --radius-radius-minimal: 8px;
  --max-width-narrow: 580px;
}

/********************/
/* DocRaptor styles */
/********************/

header {
  flow: static(header-html);
}

footer {
  flow: static(footer-html);
}

.chapter { break-before: break; }

.heading { break-after: avoid; }

section { break-inside: avoid; }

h1 { counter-reset: chapter; }

@page {
  size: A4 portrait;
  margin: 150px 0.75in;
  @top {
    content: flow(header-html);
  }
  @bottom {
    content: flow(footer-html);
  }
}

/**************************************************************************/
/* css reset                                                              */
/* https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */
/**************************************************************************/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, table {
  margin-bottom: calc(var(--size-12) * 1.25);
}

p, ul, ol {
  color: var(--color-on-surface-on-surface);
  font-size: var(--size-14);
}

img {
  max-width: 100%;
  height: auto;
}

/********************/
/* our styles begin */
/********************/

body {
  font-family: 'Inter', sans-serif;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-on-surface-on-surface);
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
}

h1 {
  font-size: 29.333px;
}

h2 {
  font-size: 20px;
  font-style: normal;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

hr {
  height: var(--space-spacing-none, 0.667px);
  background: var(--color-border-border-dim); 
}

ol, ul {
  padding-left: 30px;
}

.container-narrow {
  max-width: --max-width-narrow;
  margin: 0 auto;
}

table {
  border-radius: var(--radius-radius-minimal);
  border: 1px solid var(--color-border-border);
  margin-left: auto;
  margin-right: auto;
}

th {
  font-weight: bold;
}

th, td {
  border-top: 1px solid var(--color-border-border-subtle);
  border-left: 1px solid var(--color-border-border-subtle);
  padding: var(--size-12);
  text-align: left;
}

tfoot {
  border-top: 1px solid var(--color-border-border-subtle);
  background-color: var(--color-surface-container-subtle);
  font-size: 12px;
}

footer, footer p, footer small {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

footer small {
  color: var(--color-on-surface-on-surface-muted);
}

/*********/
/* utils */
/*********/

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-column: row;
}

.justify-content-start {
  justify-items: flex-start;
}

.justify-content-center {
  justify-items: flex-center;
}

.justify-content-end {
  justify-items: flex-end;
}

.justify-content-space-around {
  justify-items: space-around;
}

.justify-content-space-between {
  justify-items: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: flex-center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.font-bold {
  font-weight: bold;
}

.text-muted {
  color: var(--color-on-surface-on-surface-muted);
}

.standard-footer {
  border-top: 1px solid var(--color-border-border-dim);
  padding-top: var(--size-8);
}

/************/
/* partials */
/************/

.standard-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  align-items: space-between;
}