:root {
  --color-on-surface-on-surface: #111827;
  --color-on-surface-on-surface-muted: #4A5466;
  --color-surface-container-subtle: #F9FAFB;
  --color-border-border-subtle: #EAECF0;
  --color-border-border-dim: #9AA2B2;
  --color-border-border: #D2D5DB;
  --radius-radius-minimal: 8px;
  --max-width-narrow: 580px;
  --space-none: 0px;
  --space-xxs: 8px;
  --space-xs: 10px;
  --space-sm: 12px;
  --space-md: 14px;
  --space-lg: 16px;
  --space-xl: 18px;
  --space-xxl: 20px;
  --font-xxs: 8px;
  --font-xs: 10px;
  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 18px;
  --font-xxl: 20px;
}

/********************/
/* DocRaptor styles */
/********************/

header {
  flow: static(header-html);
}

footer {
  flow: static(footer-html);
}

.chapter { break-before: break; }

.heading { break-after: avoid; }

section { break-inside: avoid; }

h1 { counter-reset: chapter; }

@page {
  size: A4 portrait;
  margin-top: 100px;
  margin-bottom: 135px;
  margin-left: 0.65in;
  margin-right: 0.65in;
  @top {
    content: flow(header-html);
  }
  @bottom {
    content: flow(footer-html);
  }
  @bottom-right-corner {
    color: var(--color-on-surface-on-surface-muted);
    font-family: 'Inter', sans-serif;
    padding-top: 96px;
    font-size: var(--font-sm);
    content: counter(page) "/" counter(pages);
  }
}

/**************************************************************************/
/* css reset                                                              */
/* https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */
/**************************************************************************/

html {
  /* width: 816px; */
  /* height: 1056px; */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-bottom: calc(var(--space-sm) * 1.25);
}

p, ul, ol {
  color: var(--color-on-surface-on-surface);
  font-size: var(--font-md);
}

img {
  max-width: 100%;
  height: auto;
}

/********************/
/* our styles begin */
/********************/

body {
  font-family: 'Inter', sans-serif;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-on-surface-on-surface);
  font-family: Inter;
  font-weight: 700;
}

h1 {
  font-size: 29.333px;
  margin-bottom: var(--space-xs);
}

h2 {
  margin-top: var(--space-lg);
  font-size: var(--font-xxl);
}

h3 {
  margin-top: var(--space-lg);
  font-size: var(--font-md);
}

h4 {
  margin-top: var(--space-md);
  font-size: var(--font-sm);
}

h5 {
  margin-top: var(--space-md);
  font-size: var(--font-xs);
}

h6 {
  margin-top: var(--space-md);
  font-size: var(--font-xxs);
}

ol, ul {
  padding-left: 30px;
}

.container-narrow {
  max-width: var(--max-width-narrow);
  margin: 0 auto;
}

table {
  border-radius: var(--radius-radius-minimal);
  border: 1px solid var(--color-border-border);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
  width: 100%;
}

th {
  font-weight: bold;
}

th, td {
  border-top: 1px solid var(--color-border-border-subtle);
  border-left: 1px solid var(--color-border-border-subtle);
  padding: var(--space-sm);
  text-align: left;
}

tfoot {
  border-top: 1px solid var(--color-border-border-subtle);
  background-color: var(--color-surface-container-subtle);
  font-size: var(--font-xs);
}

.table-borderless, .table-borderless th, .table-borderless td, tfoot {
  border: none;
}

footer, footer p, footer small {
  font-family: Inter;
  font-size: var(--font-sm);
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

/*********/
/* utils */
/*********/

/* flexbox */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-column: row;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: flex-center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: flex-center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

/* gap */

.gap-none {
  gap: 0;
}

.gap-xxs {
  gap: var(--space-xxs);
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-md {
  gap: var(--space-md);
}

.gap-lg {
  gap: var(--space-lg);
}

.gap-xl {
  gap: var(--space-xl);
}

.gap-xxl {
  gap: var(--space-xxl);
}

/* padding */
.p-none {
  padding: 0;
}

/* margin */
.m-none {
  margin: 0;
}

.mt-none {
  margin: 0;
}

.mr-none {
  margin-right: 0;
}

.ml-none {
  margin-left: 0;
}

.mb-none {
  margin-bottom: 0;
}

.mx-none {
  margin-left: 0;
  margin-right: 0;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

/* font size */

.font-xxs {
  font-size: var(--font-xxs);
}

.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-xxl {
  font-size: var(--font-xxl);
}

/* font weight */

.font-normal {
  font-weight: normal !important;
}

.font-bold {
  font-weight: bold;
}

/* text color */

.text-muted {
  color: var(--color-on-surface-on-surface-muted);
}

/************/
/* partials */
/************/

.standard-header {
  padding-top: var(--space-lg);
  height: 85px;
  border-bottom: 1px solid var(--color-border-border-subtle); 
}

.standard-header svg {
  width: 125px;
  height: auto;
}

.standard-footer {
  border-top: 1px solid var(--color-border-border-dim);
  padding-top: var(--space-xs);
}

.customers-info {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--color-border-border-subtle); 
  border-left: none;
  border-right: none;
  padding: 0px;
  margin: 0px;
}

.customers-info table {
  margin: var(--space-xs) 0px;
}

.customers-info td, .customers-info th {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: var(--space-lg);
}