<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<link rel="stylesheet" href="style.css">
		<title>{% block title %}{% endblock %} - My Webpage</title>
	{% endblock %}
</head>
<body>
	{# NOTE: DocRaptor headers and footers come before the content #}
	{% include 'partials/header.html.jinja' %}
	{% include 'partials/footer.html.jinja' %}
	
	<main id="content" class="container">
		{% block content %}{% endblock %}
	</main>
</body>
</html>